<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: DodgerBlue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
</style>

<header>
  <h1 style="background-color:DodgerBlue;">Welcome</h1>
</header>
<h1>This is the homepage</h1>
<%= link_to 'About', about_path %>
<%= image_tag '' %>
